.centered{
text-align: center;
padding-bottom: 20px;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set to 100% of the viewport height */
}